<!DOCTYPE html>
<html lang="en">
<%- include ../globalPartials/head %>





<body>
  <%- include ../patient/generalPatientPartials/nav %>
  <a class="footer_link" id="our_mission" ></a>
    <!-- **************************LARGE************************ -->
    <div class="container hide-on-med-and-down" style="margin-top:209px;">
      <div class="row">
        <div class="col s12">
          <div class="col s5" style="margin-left:-40px;">
            <h1 style="text-align:left;">We’re passionate about respiratory health and technology.</h1>
            <p style="text-align:left;" class="line24">
              Our team of technologists, doctors, designers, and clinicians is on a mission to transform respiratory disease management through smart mobile technology.
            </p>
          </div>
          <div class="col s7 right" style="max-width:626px; min-width:525px; margin-right:-80px; margin-top:-50px;">
            <img width="100%" src="images/team@3x.png">
          </div>
        </div>
      </div>
    </div>
    <!-- ******************************************************** -->
    <!-- **************************TABLET************************ -->
    <div class="container hide-on-small-only hide-on-large-only" >
      <div class="row center">
        <div class="col s12" style="margin-top:50px;">
          <h1  class="line36">We’re passionate about respiratory <br>health and technology.</h1>
          <div align="center">
            <img width="450px;" src="images/team@3x.png">
          </div>
          <div align="center">
            <div style="max-width:400px;">
              Our team of technologists, doctors, designers, and clinicians is on a mission to transform respiratory disease management through smart mobile technology.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ******************************************************** -->
    <!-- **************************MOBILE************************ -->
    <div class="container hide-on-med-and-up" style="margin-top:50px;">
      <div class="row">
        <div class="col s12">
          <h1 style="text-align:center;">We’re passionate about respiratory health and technology.</h1>
          <div id="outer">
            <div class="pic" id="inner_pic_team" style="min-width:300px;">
              <img width="100%" src="images/team@3x.png">
            </div>
          </div>
          <div class="col s12">
            <div id="outer">
              <div id="inner" style="margin-top:-20px;">
                <p style="text-align:left;" class="text-align-center extra_distance" >
                  Our team of technologists, doctors, designers, and clinicians is on a mission to transform respiratory disease management through smart mobile technology.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ******************************************************** -->


<a class="footer_link" id="founders" ></a>
<!-- **************************LARGE************************ -->
<!-- <div id="ourFoundersLarge" style="margin-top:315px; height:683px; background-color:#F8F8F8; position: relative;">
  <div style="width: 775px;position: absolute; bottom: -10px;">
    <img width=100% src="images/cofounders@3x.png">
  </div>
  <div class="left" style="width: 775px; color:#F8F8F8;">
    <p></p>
  </div>
  <div style=" width: auto; overflow: hidden; max-width:600px; padding:20px;">
    <h1 style="margin-top:140px;">Meet our founders.</h1>
      Melissa Manice spent a decade researching obstacles to management of respiratory disease and holds a PhD in Clinical and Translational Research from Mount Sinai.
      She jumped into the technology space in order to create solutions for patient health, after spending so long studying the challenges.
      <br><br>
      Dan Weinstein holds an MBA in health sector management from Duke University and a BA in the biological basis of behavior from the University of Pennsylvania. He began his career commercializing new technologies at Stanford University’s Office of Technology Licensing and went on to start two successful startups. Cohero health began when Dan and Melissa met while working in digital health at Mount Sinai Hospital.
  </div>
</div> -->
<!-- ******************************************************** -->

<div style="margin-top:-75px" class="hide-on-med-and-up"></div>
<!-- <div id="ourFoundersSmall">
  <div style="margin-top:160px;">
    <div align="center" class="row" style="margin-left:30px; margin-right:30px;">
      <h1>Meet our founders.</h1>
      <div class="space_to_cards" style="margin-top:148px;"></div>
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light" id="card_outer">
            <div id=card_inner>
              <a target="_blank" href="https://www.linkedin.com/in/melissa-manice-b6391914"><img src="images/linkedInCircle.png" width="100%" alt=""></a>
            </div>
            <img style="padding:29px;" class="activator" src="images/Mel_size.jpg">
            <h2 style="margin-top:10px;">Melissa Manice</h2>
            <div style="margin-top:-15px;">CEO, Co-Founder</div>
            <div style="margin-top: 34px; margin-bottom: 60px;">
              <span id="readBio" class="activator">Read Bio</span>
            </div>
          </div>
          <div class="card-reveal card-text">
            <div class="card_close_button_height">
              <p>Melissa Manice spent a decade researching obstacles respiratory disease management and holds a PhD in Clinical and Translational Research from Mount Sinai.
                <br><br>
                Melissa jumped into the technology space to create solutions for patient health, after spending so long studying the challenges.
              </p>
            </div>
            <div class="card-title" align="center">
              <span class="whiteCloseButton card-title">Close</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light" id="card_outer">
            <div id=card_inner>
              <a href="https://www.linkedin.com/in/danielweinstein" target="_blank"><img src="images/linkedInCircle.png" width="100%" alt=""></a>
            </div>
            <img style="padding:29px;" class="activator" src="images/Dan_size.jpg">
            <h2 style="margin-top:10px;">Daniel Weinstein</h2>
            <div style="margin-top:-15px;">COO, Co-Founder</div>
            <div style="margin-top: 34px; margin-bottom: 60px;">
              <span id="readBio" class="activator">Read Bio</span>
            </div>
          </div>
          <div class="card-reveal card-text">
            <div class="card_close_button_height">
              <p>
                Dan Weinstein holds an MBA in Health Sector Management from Duke University and a BA in the biological basis of behavior from the University of Pennsylvania.
                <br><br>
                He commercialized new technologies at Stanford University’s Office of Technology Licensing where he helped to launch two successful startups.
                <br><br>
                Dan and Melissa met while working in at Mount Sinai Hospital.
              </p>
            </div>
            <div class="card-title" align="center">
              <span class="whiteCloseButton card-title">Close</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div style="margin-top:-200px" class="hide-on-med-and-up"></div>
<div style="margin-top:260px;">
  <a class="footer_link" id="team" ></a>
  <div align="center" class="row" style="margin-left:30px; margin-right:30px;">
    <h1>Get to know our team.</h1>
    <div class="space_to_cards" style="margin-top:148px;"></div>

    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="card_outer">
          <div id=card_inner>
            <a target="_blank" href="https://www.linkedin.com/in/josephcondurso/"><img src="images/linkedInCircle.png" width="100%" alt=""></a>
          </div>
          <img style="padding:29px;" class="activator" src="images/joeHeadshot.png">
          <h2 style="margin-top:10px;">Joe Condurso</h2>
          <div style="margin-top:-15px;">CEO</div>
          <div style="margin-top: 34px; margin-bottom: 60px;">
            <span id="readBio" class="activator">Read Bio</span>
          </div>
        </div>
        <div class="card-reveal card-text">
          <div class="card_close_button_height">
            <p style="font-size:12px;">Mr. Condurso has more than 30 years of experience across the medical and information technology and services industry.  Joe is an accomplished global executive with a successful track record for innovating and commercializing game changing medical devices, clinical information systems, mobile health solutions and telemedicine services within public, venture, and development stage organizations.
              <br>

              He has led rapid revenue growth, successful complex business turnarounds, M&A, and licensing, and strategic capital raises.  He’s served as Chairman and CEO of a Series C stage business and the cofounder of three technology ventures.  Early in his career he held positions with P&L responsibility and executive leadership at Fortune top 20 companies including: Motorola, Cardinal Health and CareFusion.
            </p>
          </div>
          <div class="card-title" align="center">
            <span class="whiteCloseButton card-title">Close</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="card_outer">
          <div id=card_inner>
            <a target="_blank" href="https://www.linkedin.com/in/melissa-manice-b6391914"><img src="images/linkedInCircle.png" width="100%" alt=""></a>
          </div>
          <img style="padding:29px;" class="activator" src="images/Mel_size.jpg">
          <h2 style="margin-top:10px;">Melissa Manice</h2>
          <div style="margin-top:-15px;">President, Co-Founder</div>
          <div style="margin-top: 34px; margin-bottom: 60px;">
            <span id="readBio" class="activator">Read Bio</span>
          </div>
        </div>
        <div class="card-reveal card-text">
          <div class="card_close_button_height">
            <p>Melissa Manice spent a decade researching obstacles respiratory disease management and holds a PhD in Clinical and Translational Research from Mount Sinai.
              <br><br>
              Melissa jumped into the technology space to create solutions for patient health, after spending so long studying the challenges.
            </p>
          </div>
          <div class="card-title" align="center">
            <span class="whiteCloseButton card-title">Close</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="card_outer">
          <div id=card_inner>
            <a href="https://www.linkedin.com/in/danielweinstein" target="_blank"><img src="images/linkedInCircle.png" width="100%" alt=""></a>
          </div>
          <img style="padding:29px;" class="activator" src="images/Dan_size.jpg">
          <h2 style="margin-top:10px;">Daniel Weinstein</h2>
          <div style="margin-top:-15px;">COO, Co-Founder</div>
          <div style="margin-top: 34px; margin-bottom: 60px;">
            <span id="readBio" class="activator">Read Bio</span>
          </div>
        </div>
        <div class="card-reveal card-text">
          <div class="card_close_button_height">
            <p>
              Dan Weinstein holds an MBA in Health Sector Management from Duke University and a BA in the biological basis of behavior from the University of Pennsylvania.
              <br><br>
              He commercialized new technologies at Stanford University’s Office of Technology Licensing where he helped to launch two successful startups.
              <br><br>
              Dan and Melissa met while working in at Mount Sinai Hospital.
            </p>
          </div>
          <div class="card-title" align="center">
            <span class="whiteCloseButton card-title">Close</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="card_outer">
          <div id=card_inner>
            <a href="https://www.linkedin.com/in/mikemarett" target="_blank"><img src="images/linkedInCircle.png" width="100%" alt=""></a>
          </div>
          <img style="padding:29px;" class="activator" src="images/Mike.png">
          <h2 style="margin-top:10px;">Mike Marett</h2>
          <div style="margin-top:-15px;">Chief Commercial Officer</div>
          <div style="margin-top: 34px; margin-bottom: 60px;">
            <span id="readBio" class="activator">Read Bio</span>
          </div>
        </div>
        <div class="card-reveal card-text">
          <div class="card_close_button_height">
            <p>
              Mike is a seasoned business development & marketing executive with 15 years of strategy, global product management, sales and corporate development experience.<br><br>
              <div class="hide-on-small-only">
                He has launched multiple new ventures and spearheaded the commercialization of award-winning digital products and platforms within healthcare and technology.<br><br>
              </div>
              Most recently named one of PM360’s ELITE, and amongst the PharmaVOICE 100, he is passionate about healthcare and enjoys being on the edge of innovation.
            </p>
          </div>
          <div class="card-title" align="center">
            <span class="whiteCloseButton card-title">Close</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="card_outer">
          <div id=card_inner>
            <a href="https://www.linkedin.com/in/anne-tam-86959513" target="_blank"><img src="images/linkedInCircle.png" width="100%"></a>
          </div>
          <img style="padding:29px;" class="activator" src="images/Anne_size.jpg">
          <h2 style="margin-top:10px;">Anne Tam</h2>
          <div style="margin-top:-15px;">Senior Clinical Project Manager</div>
          <div style="margin-top: 34px; margin-bottom: 60px;">
            <span id="readBio" class="activator">Read Bio</span>
          </div>
        </div>
        <div class="card-reveal card-text">
          <div class="card_close_button_height">
            <p>
              With over 10+ years managing experience in clinical research at academic medical centers in the US, Anne joined Cohero in 2016 to manage the clinical projects team and oversee Cohero research nationwide.<br><br>
                Anne holds a BS, MPH from the University of Massachusetts.
                <br><br>
                A New York City native, Anne is a travel and culinary enthusiast.
            </p>
          </div>
          <div class="card-title" align="center">
            <span class="whiteCloseButton card-title">Close</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="card_outer">
          <div id=card_inner>
            <a href="https://www.linkedin.com/in/barak-poker-4860489" target="_blank"><img src="images/linkedInCircle.png" width="100%" alt=""></a>
          </div>
          <img style="padding:29px;" class="activator" src="images/Barak_size.jpg">
          <h2 style="margin-top:10px;">Barak Poker</h2>
          <div style="margin-top:-15px;">VP of Software & Product</div>
          <div style="margin-top: 34px; margin-bottom: 60px;">
            <span id="readBio" class="activator">Read Bio</span>
          </div>
        </div>
        <div class="card-reveal card-text">
          <div class="card_close_button_height">
            <p>
              Barak started his career by developing flight navigation software for the FAA after getting a degree in Physics with a minor in Math and Computer Science from the University of Maryland.<br><br>

                  Since then he has moved to New York and accumulated over 15 years of experience in software and product development.<br><br>

                  He is extremely passionate about healthcare innovation.<br><br>

                  Barak now lives in Brooklyn, New York.
            </p>
          </div>
          <div class="card-title" align="center">
            <span class="whiteCloseButton card-title">Close</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="card_outer">
          <div id=card_inner>
            <a href="https://www.linkedin.com/in/anna-cushing-147a353b" target="_blank"><img src="images/linkedInCircle.png" width="100%" alt=""></a>
          </div>
          <img style="padding:29px;" class="activator" src="images/Anna_size.jpg">
          <h2 style="margin-top:10px;">Anna Cushing</h2>
          <div style="margin-top:-15px;">Clinical Project Manager</div>
          <div style="margin-top: 34px; margin-bottom: 60px;">
            <span id="readBio" class="activator">Read Bio</span>
          </div>
        </div>
        <div class="card-reveal card-text">
          <div class="card_close_button_height">
            <p>
              Anna joined Cohero in 2014 and has taken on multiple roles in clinical project management and research study design.<br><br>

              Anna holds a BSE in Biomedical Computation from Stanford University and is a soon-to-be MD graduate in 2017 from Icahn School of Medicine at Mount Sinai.<br><br>

              Anna is passionate about the intersection of patient care improvement and technology innovation and is excited to join the next generation of physician entrepreneurs.
            </p>
          </div>
          <div class="card-title" align="center">
            <span class="whiteCloseButton card-title">Close</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="card_outer">
          <div id=card_inner>
            <a href="https://www.linkedin.com/in/emiliemelvin" target="_blank"><img src="images/linkedInCircle.png" width="100%" alt=""></a>
          </div>
          <img style="padding:29px;" class="activator" src="images/Emilie_size.jpg">
          <h2 style="margin-top:10px;">Emilie Melvin</h2>
          <div style="margin-top:-15px;">Business Development Manager</div>
          <div style="margin-top: 34px; margin-bottom: 60px;">
            <span id="readBio" class="activator">Read Bio</span>
          </div>
        </div>
        <div class="card-reveal card-text">
          <div class="card_close_button_height">
            <p>
              With a background in clinical and basic science research, Emilie joined Cohero to lead business development and work with the clinical projects team. She is passionate about healthcare innovation and the impact that technologies like Cohero's can have for patients worldwide.
              <br><br>
               A 2016 graduate from Duke University, Emilie holds a BS in Evolutionary Anthropology with Chemistry and Global Health minors.
            </p>
          </div>
          <div class="card-title" align="center">
            <span class="whiteCloseButton card-title">Close</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light" id="card_outer">
          <div id=card_inner>
            <a href="https://www.linkedin.com/in/gabrielmillerphillips" target="_blank"><img src="images/linkedInCircle.png" width="100%" alt=""></a>
          </div>
          <img style="padding:29px;" class="activator" src="images/Gabe_size.jpg">
          <h2 style="margin-top:10px;">Gabriel Miller-Phillips</h2>
          <div style="margin-top:-15px;">Director of User Experience</div>
          <div style="margin-top: 34px; margin-bottom: 60px;">
            <span id="readBio" class="activator">Read Bio</span>
          </div>
        </div>
        <div class="card-reveal card-text">
          <div class="card_close_button_height">
            <p>
              Gabriel joined Cohero in 2015 with a decade of experience in design, startups and the arts. He has a passion for crafting great experiences and helping people. <br><br>
              Gabriel holds a BA in American Studies from Columbia University, and a minor in music composition.<br><br>
              Gabriel lives in NYC and Munich and spends his free time writing music, hiking, and improving his German.
            </p>
          </div>
          <div class="card-title" align="center">
            <span class="whiteCloseButton card-title">Close</span>
          </div>
        </div>
      </div>
    </div>
</div>

<div style="margin-top:-200px" class="hide-on-med-and-up"></div>
<div class="container" style="margin-top:270px;">
  <a class="footer_link" id="partners" ></a>
  <div class="row center">
    <div class="col s12">
      <h1>Learn about our investors and partners.</h1>
      <div align="center">
        <div>Our relationships bring healthcare and technology together, empowering pulmonary patients, and the many stakeholders that support the respiratory community.</div>
      </div>
      <div style="margin-top:-100px" class="hide-on-med-and-up"></div>
      <img src="images/AlphabatizedPartners.png" width="100%" style="margin-top:146px;">
    </div>
  </div>
</div>

  <%- include ../globalPartials/bottom_of_body %>
  <div style="margin-top:268px;">
    <a class="footer_link" id="about_try_our_products" ></a>
    <div class="hide-on-med-and-down">
      <%- include ../globalPartials/link_to_screener.ejs %>
    </div>
  </div>
  <div style="margin-top:-200px" class="hide-on-med-and-up"></div>
  <script type="text/javascript" src="js/form.js"></script>
  <%- include ../globalPartials/footer %>
</body>
</html>
