<!DOCTYPE html>
<html lang="en">
<%- include ../partials/head %>
<body>
<div id="blue_welcome_screen">
<%- include ../partials/nav %>
    <br>
    <br>
    <br>
    <br>
    <div class="container center">
      <div class="row">
        <div class="col s12" style="text-align:center;">
          <div id="modal1" class="modal" style="background-color:#0a50a5; margin-top:70px;">
             <div class="modal-content">
               <h1 class="white-text">Thank you.  <br>We got your message.</h1>
             </div>
             <div class="modal-footer" style="background-color:#0a50a5;">
               <a href="#!" class="modal-action modal-close waves-effect waves-light btn">close</a>
             </div>
           </div>
          <div>
            <h1 id="GetToKnowCoHero">Get to know <br class="show-on-small hide-on-med-and-up"/> Cohero Health</h1>
          </div>
          <div id="outer" style="width:100%; margin-top:-15px;">
            <div id="inner">
              We’re revolutionizing how you take care of your asthma, COPD or Cystic Fibrosis through technology, data and design.
            </div>
          </div>
        </div>
      </div>
      <br>

            <!-- Modal Video Trigger -->
      <div class"col s12">
       <a class="center hvr-grow modal-trigger" href="#videomodal" id="play_button_link"><img id="play_button" src="images/button.svg" alt=""><br><p style="font-size:13px; color: white;">Watch our video</p></a>
     </div>

       <!-- Modal FOR MOBILE -->
       <div id="videomodal" class="modal" style="width:75%; margin-top:30px; border:solid #b997cd 2px;">
         <div class="modal-content" style="padding:0;">
           <div class="video-container">
              <iframe id="joe_video" src="https://player.vimeo.com/video/142920118?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
         </div>
       </div>



       <div class="hide-on-med-and-down">
          <br>
          <br>
          <br>
          <div id="what_is_cohero_story_arrow" class="hvr-grow">
            <a href="#what_is_CoHero">
              <h6 class="white-text" style="font-size:13px;">What is Cohero Health?</h6>
              <img src="images/white_scroll_down.png" width="28px;" alt="">
            </a>
          </div>
        </div>
      </div>
      <br>
    </div>
</div>




<br>
  <div class="container hide-on-med-and-down" >
    <div class="center row">
        <div class="col s2">
        </div>
        <div class="col s8">
          <br>
          <h1>Build better habits, <br>and keep your doctor in the loop.</h1>
        </div><br>

        <div class="col s12 m4">
          <div class="icon-block">
            <div id="what_is_CoHero" class="section scrollspy">
              <img src="images/breather.png" width="171.6px;" alt="">
              <br><br>
            </div>
            <h2 class="center" style="margin-top:0px;">Track</h2>
            <p>Keep track of how often you use your medications, when you’re at risk, how open your lung airways are, and your lung metrics over time.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <img src="images/engage.png" width="171.6px;" alt="">
            <br><br>
            <h2 class="center">Engage</h2>
            <p class="light">Get reminders to take your medication, smart notifications, tips, and timely information.</p>
          </div>
        </div>


        <div class="col s12 m4">
          <div class="icon-block">
            <br>
            <img src="images/doc.png" width="171.6px;" alt="" style="margin-top:-30px;">
            <br><br>
            <h2 class="center">Connect</h2>

            <p class="light">Share information with your doctor in real-time, so your treatment is just right and always personal.</p>
          </div>


      </div>
    </div>

    <div class="center row">
      <div id="how_does_it_work_story_arrow" class="hvr-grow">
        <a href="#how_does_it_work" class="hide-on-small-only">
          <p style="font-size:13px; color:#75787B;">How does it work?</p>
          <div style="margin-top:-10px;">
            <img src="images/grey_scroll_down.png" width="28px;" alt="">
          </div>
        </a>
      </div>
    </div>
  </div>



<!-- ******************************MOBILE****************************************** -->
  <div class="container hide-on-large-only show-on-med-and-up">
    <div class="row">
      <div class="col s12">
        <h1 style="text-align:center;">Build better habits, <br>and keep your doctor in the loop.</h1>
        <div class="carousel carousel-slider center" data-indicators="true">
         <div class="carousel-item white" href="#one!">
           <h2>Track</h2>
           <img src="images/breather.png" style="width:200px;" alt="">
           <div id="outer">
             <div id="inner">
               <p style="font-family: 'Open Sans', sans-serif; font-weight: 300; color: #75787B; font-size: 18px;">
                 Keep track of how often you use your medications, when you’re at risk, how open your lung airways are, and your lung metrics over time.
               </p>
             </div>
           </div>
         </div>
         <div class="carousel-item white" href="#two!">
           <h2>Engage</h2>
           <img src="images/engage.png" style="width:200px;" alt="">
           <div id="outer">
             <div id="inner">
               <p style="font-family: 'Open Sans', sans-serif; font-weight: 300; color: #75787B; font-size: 18px;">
                 Get reminders to take your medication, smart notifications, tips, and timely information.
               </p>
             </div>
           </div>
         </div>
         <div class="carousel-item white" href="#three!">
           <h2>Connect</h2>
           <img src="images/doc.png" style="width:200px;" alt="">
           <div id="outer">
             <div id="inner">
               <p style="font-family: 'Open Sans', sans-serif; font-weight: 300; color: #75787B; font-size: 18px;">
                 Share information with your doctor in real-time, so your treatment is just right and always personal.
               </p>
             </div>
           </div>
         </div>
       </div>
      </div>
    </div>
  </div>
  <!-- **************************************************************************** -->

</div>




  <div class="container hide-on-med-and-down" id="hardware_section" >
    <br><br>
    <div class="center row">
      <div class="col s12">
        <div class="col s6">
          <h1 style="text-align:left;">Hardware and software to help you breathe smarter.</h1>
          <div id="how_does_it_work" class="section scrollspy" style="margin-top:-40px;">
            <p style="text-align:left;">
              Our hardware and apps work together seamlessly to keep you in the driver's seat of your respiratory health.
            </p>
          </div>
          <div style="padding:10px; font-size:14px; text-align:left; margin-top:-17px;">
            <div> • See your health trends over time, and share them with your doctor, too.</div>
            <div style="margin-top:10px;"> • BreatheSmart helps you build healthy habits with personalized, daily notifications.</div>
          </div><br>
          <a style="text-align:left;" id="learn_more_button_hardware" class="waves-effect waves-light btn left" href="products">Learn More</a>
          <!-- <div class="col s11 push-s1"><span style="text-align:left;"> <div>See your health trends over time, and share them with your docotr, too.</div></span></div>
          <div class="col s1 pull-s11"><span><img src="images/bulletpoint.png" width="27px;" alt=""></span></div><br>
          <div class="col s11 push-s1"><span style="text-align:left;"> <div>BreatheSmart helps you build healthy habits personalized, daily notifications.</div></span></div>
          <div class="col s1 pull-s11"><span><img src="images/bulletpoint.png" width="27px;" alt=""></span></div> -->
        </div>
        <div class="col s6">
          <img width="100%" src="images/bundle.png">
        </div>
      </div>
    </div>
  </div>


  <!-- *************************MOBILE************************************************ -->
  <div class="container hide-on-large-only" >
    <div class="center row">
      <div class="col s12">
        <h1 style="text-align:center;">Hardware and software to <br>help you breathe smarter.</h1>
        <div id="outer">
          <div id="inner_pic_hardware" class="pic">
            <img width="100%" src="images/bundle.png">
          </div>
        </div>
        <div id="outer">
          <div id="inner">
            <p style="text-align:left;">
              Our hardware and apps work together seamlessly to keep you in the driver's seat of your respiratory health.
            </p>
            <div style="padding:10px; font-size:14px; text-align:left; margin-top:-17px;">
              <div> • See your health trends over time, and share them with your doctor, too.</div>
              <div style="margin-top:10px;"> • BreatheSmart helps you build healthy habits with personalized, daily notifications.</div>
            </div><br>
          </div>
        </div>
        <div class="col s6">

        </div>
      </div>
    </div>
  </div>
  <!-- ******************************************************************************* -->







<div class="container hide-on-med-and-down">
  <br><br>
  <div class="row">
    <div class="col s12">
      <div class="col s4">
      </div>
      <div class="center col s4">
        <div id="who_are_we_story_arrow" class="hvr-grow">
          <a href="#who_are_we">
            <p style="font-size:13px; color:#75787B;" >Who are we?</p>
            <div style="margin-top:-10px;">
              <img src="images/grey_scroll_down.png" width="28px;" alt="">
            </div>
          </a>
        </div>
      </div>
      <div class="col s4">
      </div>
    </div>
  </div>
  <br><br><br>
</div>


<br>
  <div class="container hide-on-med-and-down">
    <div class="row">
      <div class="col s12">
        <div class="col s7">
          <img style="text-align:left; margin-top:-100px;" width="100%" src="images/team.png">
        </div>
        <div class="col s5" id="our_team_col">
          <h1 style="text-align:left;">Our team</h1>
          <p style="text-align:left;">
            We want the world to breathe smarter and live healthier. That’s why our international team works each day to create best-in-class, easy to use products to transform the lives of people with respiratory challenges.
          </p><br>
          <a id="learn_more_button" class="waves-effect waves-light btn" href="about">Learn More</a>
        </div>
        <div id="who_are_we" class="section scrollspy">
        </div>
      </div>
    </div>
    <br><br><br><br>
  </div>


  <!-- **************************MOBILE************************ -->
  <div class="container show-on-medium-and-down hide-on-large-only">
    <div class="row">
      <div class="col s12 center">
        <h1 class="center">Our team</h1>
        <div id="outer" style="margin-top:-35px;">
          <div class="pic" id="inner_pic_team">
            <img width="100%" src="images/team.png">
          </div>
        </div>
        <div class="col s12">
          <div id="outer">
            <div id="inner">
              <p style="text-align:left;">
                We want the world to breathe smarter and live healthier. That’s why our international team works each day to create best-in-class, easy to use products to transform the lives of people with respiratory challenges.
              </p><br>
            </div>
          </div>
          <div class="center">
            <a id="learn_more_button" class="waves-effect waves-light btn " href="about">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div>
  <!-- ******************************************************** -->


<div id="greybox" class="grey lighten-5">
  <div class="container">
    <div class="row center">
      <div class="col s12">
        <div class= "col s1 hide-on-small-only">
          <img class="hide-on-small-only" style="margin-top:140px;" id="quote_slider_left_chev" src="images/gray_left_arrow.png" alt="">
        </div>
        <div class="col s12 m10 l10">
          <br><br>
          <h1>Hear from people breathing <br> easier each day.</h1>
          <div class="slider" id="quote_slider">
            <ul class="slides grey lighten-5">
              <li>
                <div>
                  <p class="light grey-text text-darken-1">"Using the BreatheSmart app and HeroTracker hardware <br class="hide-on-small-only" />has finally put me in control of my asthma."</p>
                  <p class="light grey-text text-darken-1">- Courtney J., Texas</p><br>
                </div>
              </li>
              <li>
                <div>
                  <p class="light grey-text text-darken-1">“Text reminders have been really helpful.”</p>
                  <p class="light grey-text text-darken-1">- Zach B., NYC</p>
                </div>
              </li>
              <li>
                <div>
                  <p class="light grey-text text-darken-1">“I really like how easily you can look at the data <br class="hide-on-small-only" /> over different lengths of time.” </p>
                  <p class="light grey-text text-darken-1">- Kristen C., MD</p>
                </div>
              </li>
              <li>
                <div>
                  <p class="light grey-text text-darken-1">"The BreatheSmart app has changed my life! <br class="hide-on-small-only" />  It has consistently reminded me to take my control inhaler twice a day."</p>
                  <p class="light grey-text text-darken-1">- Mark VV, NYC</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col s1" class="col s1 hide-on-small-only">
          <img style="margin-top:140px;" class="hide-on-small-only" id="quote_slider_right_chev" src="images/gray_right_arrow.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>





<div id="darkergreybox" class="grey lighten-4" style="margin-top:-20px;">
  <div class="container">
    <div class="center row">
      <div  class="col s12 center grey-text">
          <br>
          <div class="col s12 m12 l5">
            <h2 style="text-align:left;" class="hide-on-med-and-down">We're revolutionizing respiratory health. <br>And the press has noticed.</h2>
            <!-- MOBILE H2 *********************** -->
            <h2 style="text-align:center;" class="show-on-med-and-down hide-on-large-only">We're revolutionizing respiratory health. <br> And the press has noticed.</h2>
            <!-- ********************************************* -->
          </div>
          <div class="col s12 m12 l7 center"><br>
            <img src="images/Wired.png" style="padding:10px;" width="125px" alt="">
            <img src="images/FastCompany.png" style="padding:10px;" width="125px" alt="">
            <img src="images/Crains.png" style="padding:10px;" width="125px" alt="">
            <br>
            <img src="images/Forbes.png" style="padding:10px;" width="125px" alt="">
            <img src="images/WSJ.png" style="padding:10px;" width="125px" alt="">
            <img src="images/TC.png" style="padding:10px;" width="125px" alt="">
            <br>
            <img src="images/MountSinai.png" style="padding:10px; opacity:.2;" width="125px" alt="">
            <br><br>
          </div>
      </div>
    </div>
  </div>
</div>
<br>

<%- include ../partials/try_our_products %>
<br><br><br>
<%- include ../partials/footer %>

<%- include ../partials/bottom_of_body %>
</body>
</html>
