<!DOCTYPE html>
<html lang="en">
<%- include ../partials/head %>
<body>
<div class="blue darken-4 white-text">
<%- include ../partials/nav %>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="center row">
        <div class="col s12">
          <div class="col s2">
          </div>
          <div class="center col s8">
            <h5 class="light black-text" >Get to know Cohero Health</h5>
            <div class="col s0 m3">
            </div>
            <div class="col s12 m6">
              <p class="light" style="font-size:15px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.
              </p>
            </div>
            <div class="col s0 m3">
            </div>
          </div>
          <div class="col s2">
          </div>
        </div><br>
            <!-- Modal Video Trigger -->
       <a class="waves-effect waves-light modal-trigger" href="#videomodal"><i class="fa fa-play-circle-o medium" aria-hidden="true"></i></a>


       <div class="container">
         <div class="center row">
           <div class="col s12">
             <div class="col s4">
             </div>
             <div class="col s4">
               <p class="flow-text white-text" style="font-size:15px;">
                 Watch Our Video
               </p>
             </div>
             <div class="col s4">
             </div>
           </div>
         </div>
       </div>


       <!-- Modal Structure -->
       <div id="videomodal" class="modal">
         <div class="modal-content">
           <video class="responsive-video" controls>
            <source src="images/samplemovie.mp4" type="video/mp4">
          </video>
         </div>
       </div>
        <br>
        <br>
        <br>
        <br>
        <a href="#what_is_CoHero" >
          <h6 class="white-text">What is CoHero Health</h6>
          <i class="fa fa-arrow-circle-o-down small white-text" aria-hidden="true"></i>
        </a>

      </div>
      <br>
    </div>
</div>



<br><br><br>
<div class="container">
  <div class="center row">
    <br>
      <div class="col s2">
      </div>
      <div class="col s8">

        <h4 >Build Better habbits, and keep your hamper in the coop.</h4>

        <div id="what_is_CoHero" class="section scrollspy">
        <!-- <img width="100%" src="images/placeholder.png"> -->
        </div>

      </div>
  </div>

  <div class="center row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons">code</i></h2>
        <h5 class="center">Track</h5>
        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.</p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons">done</i></h2>
        <h5 class="center">Engage</h5>
        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.</p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center light-blue-text"><i class="material-icons">thumb_up</i></h2>
        <h5 class="center">Connect</h5>

        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.</p>
      </div>
    </div>
  </div>
  <div class="center row">
    <br>
    <br>
    <br>
    <br>
    <a href="#how_does_it_work" class="grey-text">
      <h6>How does it work?</h6>
      <i class="fa fa-arrow-circle-o-down small" aria-hidden="true"></i>
    </a>

  </div>
</div>

  <!-- GREY LINE -->
<div class="grey lighten-2" style="width:100%; height:2px;"></div>
<br>



<div class=container >
  <div class="center row">
    <div class="col s12">
      <div class="col s6">

        <h4 >Harkdare sharter that helps you weave tarter.</h4>
        <div id="how_does_it_work" class="section scrollspy">
        </div>
        <p class="flow-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.
        </p>

      </div>
    </div>
  </div>
  <div class="center row">
    <div class="col s12">
      <div class="col s6">
        <h5>consectetur adipiscing eli</h5>
        <p class="flow-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.
        </p>
      </div>
      <div class="col s6">
        <img width="100%" src="images/placeholder.png">
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col s12">
      <div class="col s4">
      </div>
      <div class="center col s4">
        <a href="#who_are_we" class="grey-text">
          <h6>Who are we?</h6>
          <i class="fa fa-arrow-circle-o-down small grey-text" aria-hidden="true"></i>
        </a>
      </div>
      <div class="col s4">
      </div>
    </div>
  </div>
</div>
<br><br><br>

<div class=container>
  <div class="center row">
    <div class="col s12">
      <div class="col s6">
        <div id="who_are_we" class="section scrollspy">
        </div>
        <img width="100%" src="images/placeholder.png">
      </div>
      <div class="col s6">
        <h5 class="blue-text">Our Team</h5>
        <p class="flow-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.
        </p>
        <a class="waves-effect waves-light btn-large">Learn More</a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="center row">
    <div class="col s12">
      <div class="col s2">
      </div>
      <div class="col s8">
        <h4 >Hoe People PLeay.</h4>
        <p class="flow-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="col s2">
      </div>
      <div class="col s12 m4">
        <h5 class="center">What</h5>
        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.</p>
        <img src="images/imageicon.png" alt="" style="width:30px;" class="left circle">
        <span class="light left" style="padding:5px;"> -bojengales</span>
      </div>
      <div class="col s12 m4">
        <h5 class="center">What</h5>
        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.</p>
        <img src="images/imageicon.png" alt="" style="width:30px;" class="left circle">
        <span class="light left" style="padding:5px;"> -bojengales</span>
      </div>
      <div class="col s12 m4">
        <h5 class="center">What</h5>
        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.</p>
        <img src="images/imageicon.png" alt="" style="width:30px;" class="left circle">
        <span class="light left" style="padding:5px;"> -bojengales</span>
      </div>
    </div>
  </div>
</div>
<br> -->
<br><br><br><br>
<div id="greybox" class="grey lighten-5">
  <div class="container">
    <div class="center row">
      <div class="col s12 m4">
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light blue-text text-darken-2"><i class="material-icons">done</i></h2>
          <h5 class="center light blue-text text-darken-2">Hear from people breathing easier each day.</h5>
        </div>
        <div class="slider" id="quote_slider">
          <ul class="slides grey lighten-5">
            <li>
              <div>
                <p class="light grey-text text-darken-1">"Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis."</p>
                <p class="light grey-text text-darken-1">-Person One</p>
              </div>
            </li>
            <li>
              <div>
                <p class="light grey-text text-darken-1">"Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis."</p>
                <p class="light grey-text text-darken-1">-Person Two</p>
              </div>
            </li>
            <li>
              <div>
                <p class="light grey-text text-darken-1">"Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis."</p>
                <p class="light grey-text text-darken-1">-Person Three</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col s12 m4">
      </div>
    </div>
  </div>
</div>


<div class="left light grey-text text-darken-1" style="margin-top:-250px; padding:10px;"><i id="quote_slider_left_chev" class="fa fa-chevron-left hoverable" aria-hidden="true"></i></div>
<div class="right light grey-text text-darken-1" style="margin-top:-250px; padding:10px;"><i id="quote_slider_right_chev" class="fa fa-chevron-right hoverable" aria-hidden="true"></i></div>



<br>

<div class="container">
  <div class="center row">
    <a class="waves-effect waves-light btn-large">Learn More</a>
    <h4 >frumpanies working with sooshifasdkn.</h4>
  </div>
</div>
<div class="container">
  <div class="center row">
    <div  class="col s12 center">
      <div class="col s1">
      </div>
      <div class="center col s10">
        <div class="col s1">
        </div>
        <div class="col s2 center">
          <i class="small material-icons center">language</i>
        </div>
        <div class="col s2 center">
          <i class="small material-icons">label</i>
        </div>
        <div class="col s2 center">
          <i class="small material-icons">work</i>
        </div>
        <div class="col s2 center">
          <i class="small material-icons">print</i>
        </div>
        <div class="col s2 center">
          <i class="small material-icons">grade</i>
        </div>
      </div>
      <div class="col s1">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="center row">
    <div  class="col s12 center">
      <div class="col s1">
      </div>
      <div class="center col s10">
        <div class="col s1">
        </div>
        <div class="col s2 center">
          <i class="small material-icons center">repeat</i>
        </div>
        <div class="col s2 center">
          <i class="small material-icons">skip_previous</i>
        </div>
        <div class="col s2 center">
          <i class="small material-icons">snooze</i>
        </div>
        <div class="col s2 center">
          <i class="small material-icons">surround_sound</i>
        </div>
        <div class="col s2 center">
          <i class="small material-icons">sort_by_alpha</i>
        </div>
      </div>
      <div class="col s1">
      </div>
      <br>
      <br>
      <h5>Try Potatoes</h5>
      <i class="small material-icons">play_for_work</i>
    </div>
  </div>
</div>

<div class="grey lighten-2" style="width:100%; height:2px;"></div>

<!-- <br>
<div class="container">
  <div class="center row">
    <h4 >Try this pumplien</h4>
  </div>
</div> -->

<!-- <%- include ../partials/try_our_products %> -->



<br>
<%- include ../partials/footer %>

<%- include ../partials/bottom_of_body %>
</body>
</html>
