<!DOCTYPE html>
<html lang="en">
<%- include ../partials/head %>
<body>
<div id="blue_welcome_screen">
<%- include ../partials/nav %>
    <br>
    <br>
    <br>
    <br>
    <div class="container center">
      <div class="row">
        <div class="col s12" style="text-align:center;">
          <div>
            <h1 id="GetToKnowCoHero">Get to know Cohero Health</h1>
          </div>
          <div id="outer" style="width:100%; margin-top:-15px;">
            <div id="inner">
              We’re revolutionizing how you take care of your asthma, COPD or Cystic Fibrosis through technology, data and design.
            </div>
          </div>
        </div>
      </div>
      <br>

            <!-- Modal Video Trigger -->
       <a class="waves-effect waves-light modal-trigger center hvr-underline-from-center"  href="#videomodal"><img id="play_button" src="images/button.svg" alt=""></a>


       <div class="container">
         <div class="center row">
           <div class="col s12">
             <div class="col s4">
             </div>
             <div class="col s4">
               <p class="flow-text white-text" style="font-size:13px;">
                 Watch our video
               </p>
             </div>
             <div class="col s4">
             </div>
           </div>
         </div>
       </div>


       <!-- Modal Structure -->
       <div id="videomodal" class="modal">
         <div class="modal-content">
           <video class="responsive-video" controls>
            <source src="images/samplemovie.mp4" type="video/mp4">
          </video>
         </div>
       </div>
       <div class="hide-on-small-only">
          <br>
          <br>
          <br>
          <div id="what_is_cohero_story_arrow" class="hvr-pulse-grow">
            <a href="#what_is_CoHero">
              <h6 class="white-text" style="font-size:13px;">What is Cohero Health?</h6>
              <img src="images/white_scroll_down.png" width="28px;" alt="">
            </a>
          </div>
        </div>
      </div>
      <br>
    </div>
</div>




<br>
<div id="what_is_CoHero" class="section scrollspy">
  <div class="container hide-on-small-only" >
    <div class="center row">
        <div class="col s2">
        </div>
        <div class="col s8">
          <br>
          <h1>Build better habits, <br>and keep your doctor in the loop.</h1>
        </div><br>
        <div class="col s12 m4">
          <div class="icon-block">
            <img src="images/breather.png" width="171.6px;" alt="">
            <br><br>
            <h2 class="center" style="margin-top:26px;">Track</h2>
            <p>Keep track of how often you use your medications, when you’re at risk, how open your lung airways are, and your lung metrics over time.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <img src="images/engage.png" width="171.6px;" alt="">
            <br><br>
            <h2 class="center">Engage</h2>
            <p class="light">Get reminders to take your medication, smart notifications, tips, and timely information.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <br>
            <img src="images/doc.png" width="171.6px;" alt="" style="margin-top:-30px;">
            <br><br>
            <h2 class="center">Connect</h2>

            <p class="light">Share information with your doctor in real-time, so your treatment is just right and always personal.</p>
          </div>
        </div>
      </div>
    <div class="center row">
      <br>
      <br>
      <a href="#how_does_it_work" class="hide-on-small-only">
        <p style="font-size:13px; color:#75787B;">How does it work?</p>
        <div style="margin-top:-10px;">
          <img src="images/grey_scroll_down.png" width="28px;" alt="">
        </div>
      </a>
    </div>
  </div>

<!-- ******************************MOBILE****************************************** -->
  <div class="container hide-on-med-and-up show-on-small-only">
    <div class="row">
      <div class="col s12">
        <h1 style="text-align:center;">Build Better habits, and keep your doctor in the loop.</h1>
        <div class="carousel carousel-slider center" data-indicators="true">
         <div class="carousel-item white" href="#one!">
           <h2>Track</h2>
           <img src="images/breather.png" style="width:171.6px;" alt="">
           <p style="font-family: 'Open Sans', sans-serif; font-weight: 300; color: #75787B; font-size: 16px;">
             Keep track of how often you use your medications, when you’re at risk, how open your lung airways are, and your lung metrics over time.
           </p>
         </div>
         <div class="carousel-item white" href="#two!">
           <h2>Engage</h2>
           <img src="images/engage.png" style="width:171.6px;" alt="">
           <p style="font-family: 'Open Sans', sans-serif; font-weight: 300; color: #75787B; font-size: 16px;">
             Get reminders to take your medication, smart notifications, tips, and timely information.
           </p>
         </div>
         <div class="carousel-item white" href="#three!">
           <h2>Connect</h2>
           <img src="images/doc.png" style="width:171.6px;" alt="">
           <p style="font-family: 'Open Sans', sans-serif; font-weight: 300; color: #75787B; font-size: 16px;">
             Share information with your doctor in real-time, so your treatment is just right and always personal.
           </p>
         </div>
       </div>
      </div>
    </div>
  </div>
  <!-- **************************************************************************** -->

</div>


<div id="how_does_it_work" class="section scrollspy">
  <div class="container hide-on-med-and-down" >
    <br><br>
    <div class="center row">
      <div class="col s12">
        <div class="col s6">
          <h1 style="text-align:left;">Hardware and software to help you breathe smarter.</h1>
          <p style="text-align:left;">
            Our hardware and apps work together seamlessly to keep you in the driver's seat of your respiratory health.
          </p>
          <div style="padding:10px; font-size:14px; text-align:left; margin-top:-17px;">
            <div> • See your health trends over time, and share them with your doctor, too.</div>
            <div style="margin-top:10px;"> • BreatheSmart helps you build healthy habits with personalized, daily notifications.</div>
          </div><br>
          <a style="text-align:left;" id="learn_more_button_hardware" class="waves-effect waves-light btn left" href="products">Learn More</a>
          <!-- <div class="col s11 push-s1"><span style="text-align:left;"> <div>See your health trends over time, and share them with your docotr, too.</div></span></div>
          <div class="col s1 pull-s11"><span><img src="images/bulletpoint.png" width="27px;" alt=""></span></div><br>
          <div class="col s11 push-s1"><span style="text-align:left;"> <div>BreatheSmart helps you build healthy habits personalized, daily notifications.</div></span></div>
          <div class="col s1 pull-s11"><span><img src="images/bulletpoint.png" width="27px;" alt=""></span></div> -->
        </div>
        <div class="col s6">
          <img width="100%" src="images/bundle.png">
        </div>
      </div>
    </div>
  </div>

  <!-- *************************MOBILE************************************************ -->
  <div class="container hide-on-large-only" >
    <div class="center row">
      <div class="col s12">
        <h1 style="text-align:left;">Hardware and software to help you breathe smarter.</h1>
        <img width="100%" src="images/bundle.png">
        <div>
          <p style="text-align:left;">
            Our hardware and apps work together seamlessly to keep you in the driver's seat of your respiratory health.
          </p>
          <div style="padding:10px; font-size:14px; text-align:left; margin-top:-17px;">
            <div> • See your health trends over time, and share them with your doctor, too.</div>
            <div style="margin-top:10px;"> • BreatheSmart helps you build healthy habits with personalized, daily notifications.</div>
          </div><br>
        </div>
        <div class="col s6">

        </div>
      </div>
    </div>
  </div>
  <!-- ******************************************************************************* -->

</div>





<div class="container hide-on-small-only">
  <br><br>
  <div class="row">
    <div class="col s12">
      <div class="col s4">
      </div>
      <div class="center col s4">
        <a href="#who_are_we">
          <p style="font-size:13px; color:#75787B;" >Who are we?</p>
          <div style="margin-top:-10px;">
            <img src="images/grey_scroll_down.png" width="28px;" alt="">
          </div>
        </a>
      </div>
      <div class="col s4">
      </div>
    </div>
  </div>
  <br><br><br>
</div>


<div id="who_are_we" class="section scrollspy">
  <div class="container hide-on-med-and-down">
    <div class="row">
      <div class="col s12">
        <div class="col s7">
          <img style="text-align:left; margin-top:-100px;" width="100%" src="images/team.png">
        </div>
        <div class="col s5" id="our_team_col">
          <h1 style="text-align:left;">Our Team</h1>
          <p style="text-align:left;">
            We want the world to breathe smarter and live healthier. That’s why our international team works each day to create best-in-class, easy to use products to transform the lives of people with respiratory challenges.
          </p><br>
          <a id="learn_more_button" class="waves-effect waves-light btn" href="about">Learn More</a>
        </div>
      </div>
    </div>
    <br><br><br><br>
  </div>

  <!-- **************************MOBILE************************ -->
  <div class="container show-on-medium-and-down hide-on-large-only">
    <div class="row">
      <div class="col s12 center">
        <h1 class="center">Our Team</h1>
        <img width="75%" src="images/team.png">
        <div class="col s12">
          <p style="text-align:left;">
            We want the world to breathe smarter and live healthier. That’s why our international team works each day to create best-in-class, easy to use products to transform the lives of people with respiratory challenges.
          </p><br>
          <div class="center">
            <a id="learn_more_button" class="waves-effect waves-light btn " href="about">Learn More</a>
          </div>
        </div>
        <div class="col s7">
          <!-- NEED TO KEEP THIS AND LEAVE BLANK -->
        </div>
      </div>
    </div>
    <br><br><br><br>
  </div>
  <!-- ******************************************************** -->
</div>

<!-- <div class="container">
  <div class="center row">
    <div class="col s12">
      <div class="col s2">
      </div>
      <div class="col s8">
        <h4 >Hoe People PLeay.</h4>
        <p class="flow-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="col s2">
      </div>
      <div class="col s12 m4">
        <h5 class="center">What</h5>
        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.</p>
        <img src="images/imageicon.png" alt="" style="width:30px;" class="left circle">
        <span class="light left" style="padding:5px;"> -bojengales</span>
      </div>
      <div class="col s12 m4">
        <h5 class="center">What</h5>
        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.</p>
        <img src="images/imageicon.png" alt="" style="width:30px;" class="left circle">
        <span class="light left" style="padding:5px;"> -bojengales</span>
      </div>
      <div class="col s12 m4">
        <h5 class="center">What</h5>
        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis.</p>
        <img src="images/imageicon.png" alt="" style="width:30px;" class="left circle">
        <span class="light left" style="padding:5px;"> -bojengales</span>
      </div>
    </div>
  </div>
</div>
<br> -->

<div id="greybox" class="grey lighten-5">
  <div class="container">
    <div class="center row">
      <div class="col s7 push-s3">
        <div class="icon-block">
          <br><br><br>
          <h1>Hear from people breathing easier each day.</h1>
        </div>
        <div class="slider" id="quote_slider">
          <ul class="slides grey lighten-5">
            <li>
              <div>
                <p class="light grey-text text-darken-1">"Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis."</p>
                <p class="light grey-text text-darken-1">-Person One</p>
              </div>
            </li>
            <li>
              <div>
                <p class="light grey-text text-darken-1">"Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis."</p>
                <p class="light grey-text text-darken-1">-Person Two</p>
              </div>
            </li>
            <li>
              <div>
                <p class="light grey-text text-darken-1">"Lorem ipsum dolor sit amet, consectetur adipiscing elit nunc a facilisis erat, sed aliquet felis."</p>
                <p class="light grey-text text-darken-1">-Person Three</p><br>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col s3 pull-s7"></div>
    </div>
  </div>
</div>


<div class="left" style="margin-top:-250px; padding:10px;"><img class="hide-on-small-only" id="quote_slider_left_chev" src="images/gray_left_arrow.png" alt=""></div>
<div class="right" style="margin-top:-250px; padding:10px;"><img class="hide-on-small-only" id="quote_slider_right_chev" src="images/gray_right_arrow.png" alt=""></div>

<div id="darkergreybox" class="grey lighten-3" style="margin-top:-20px;">
  <div class="container">
    <div class="center row">
      <div  class="col s12 center grey-text">
          <br>
          <img src="images/strip.png" width="100%" alt="">
          <br><br>
      </div>
    </div>
  </div>
</div>

<%- include ../partials/try_our_products %>
<br>
<%- include ../partials/footer %>

<%- include ../partials/bottom_of_body %>
</body>
</html>
