<!DOCTYPE html>
<html lang="en">
<%- include ../globalPartials/head %>
<body>
<div id="top_scrollspy" class="section scrollspy" style="display:inline;">
</div>
<div id="blue_welcome_screen">
  <%- include ../patient/generalPatientPartials/nav %>
  <%- include ../patient/homePagePartials/getToKnowCoheroHealth %>
</div>
<br><br><br><br><br>
  <%- include ../patient/homePagePartials/buildBetterHabbits %>
<br><br><br><br><br>
  <%- include ../patient/homePagePartials/hardwareAndSoftware %>
<br><br><br><br><br>
  <%- include ../patient/homePagePartials/ourTeam %>

  <div>
    <div id="what_people_say" class="section scrollspy">
      <div style="height:500px;">
        <%- include ../patient/homePagePartials/hearFromPeople %>
      </div>
    </div>
  </div>
<br><br><br>
  <div id="read_our_press" class="section scrollspy">
    <div style="height:500px;">
      <%- include ../patient/homePagePartials/coheroInThePress %>
    </div>
  </div>
<br><br><br><br><br>


<div id="try_our_products" class="section scrollspy" style="display:inline;">
  <%- include ../globalPartials/try_our_products_typeform.ejs %>
</div>

<br><br><br>
  <%- include ../globalPartials/footer %>

  <%- include ../globalPartials/bottom_of_body %>
</body>
</html>
