<!DOCTYPE html>
<html lang="en">
<%- include ../globalPartials/head %>
<body>


  <%- include ../patient/generalPatientPartials/nav %>

  <%- include ../patient/homePagePartials/getToKnowCoheroHealth3 %>
<div style="margin-top:-100px;"></div>
<div class="hide-on-med-only" style="margin-top:-200px;"></div>
<div class="min-space"></div>
<div class="hide-on-small-only subtract-from-phone"></div>
<div class="hide-on-med-and-down subtract-from-tablet"></div>

  <%- include ../patient/homePagePartials/buildBetterHabbits %>
<div class="min-space"></div>
<div class="hide-on-small-only subtract-from-phone"></div>
<div class="hide-on-med-and-down subtract-from-tablet"></div>


  <%- include ../patient/homePagePartials/hardwareAndSoftware %>
<div class="min-space"></div>
<div class="hide-on-small-only subtract-from-phone"></div>
<div class="hide-on-med-and-down subtract-from-tablet"></div>

  <%- include ../patient/homePagePartials/ourTeam %>
<div class="min-space"></div>
<div class="hide-on-small-only subtract-from-phone"></div>
<div class="hide-on-med-and-down subtract-from-tablet"></div>


  <%- include ../patient/homePagePartials/hearFromPeople %>
<div class="min-space"></div>
<div class="hide-on-small-only subtract-from-phone"></div>
<div class="hide-on-med-and-down subtract-from-tablet"></div>


  <%- include ../patient/homePagePartials/coheroInThePress %>



<div style="margin-top:-24px;" class="hide-on-med-and-down"></div>
  <a class="footer_link" id="home_try_our_products" ></a>
  <div class="hide-on-med-and-down">
    <%- include ../globalPartials/try_our_products_1.ejs %>
  </div>
  <%- include ../globalPartials/footer %>

  <%- include ../globalPartials/bottom_of_body %>
</body>
</html>
