<!DOCTYPE html>
<html lang="en">
<%- include ../globalPartials/head %>
<body>
  <%- include ../patient/generalPatientPartials/nav %>
  <a class="footer_link" id="in_the_news" ></a>
  <div style="margin-top:-100px" class="hide-on-large-only"></div>
  <div class="container" style="margin-top:176px;">

    <div class="row">
      <div class="col s12">
        <h1 style="line-height:9px;">Keep up with Cohero.</h1>
        <div>Take a look at what others are saying about us.</div>
      </div>
    </div>
    <div style="margin-top:-50px" class="hide-on-large-only"></div>
    <div class="row" style="margin-top:100px;">
      <div class="col s2">
        <div class="left-align hide-on-med-and-down" style="color:#1FD9C7">Featured</div>
      </div>
      <div class="col s12 m12 l9">

        <div id="div1" class="press_load">
          <a target="_blank" href="http://medcitynews.com/2016/03/pediatric-innovation-and-medical-devices/?rf=1" class="loadDiv_link">Med City News<span class="pressRightDate"> 03.14.16</span></a>
          <div>Digital health takes a back seat to medical devices in pediatric pitch event at SXSW</div>
          <div class="loadDiv_underline"></div>
        </div>

        <div id="div2" class="loadDiv_margin">
          <a target="_blank" href="http://blogs.wsj.com/venturecapital/2015/12/24/the-daily-startup-late-stage-vcs-poised-for-strong-fundraising-lp-says/" class="loadDiv_link">The Wall Street Journal<span class="pressRightDate"> 12.24.15</span></a>
          <div>The Daily Startup: Late-Stage VCs Poised for Strong Fundraising, LP Says</div>
          <div class="loadDiv_underline"></div>
        </div>

        <div id="div3" class="loadDiv_margin">
          <a target="_blank" href="http://drivenforwomen.com/blog/2015/12/7/melissa-manice-startup-entrepreneur" class="loadDiv_link">Driven For Women<span class="pressRightDate"> 12.14.15</span></a>
          <div>Melissa Manice, Startup Entrepreneur</div>
          <div class="loadDiv_underline"></div>
        </div>

        <div id="div4" class="loadDiv_margin">
          <a target="_blank" class="loadDiv_link" href="https://techcrunch.com/2015/09/21/cohero-health-aims-to-improve-patient-care-for-the-26-million-american-asthma-sufferers/" >Tech Crunch <span class="pressRightDate"> 09.21.15</span></a>
          <div> Cohero Health Aims To Improve Patient Care For The 26 Million American Asthma Sufferers</div>
          <div class="loadDiv_underline"></div>
        </div>

        <div id="div5" class="loadDiv_margin">
          <a target="_blank" href="http://www.forbes.com/forbes/welcome/?toURL=http://www.forbes.com/sites/kateharrison/2015/08/13/10-healthcare-technology-disruptors-to-watch-all-led-by-women/&refURL=http://www.coherohealth.com/press&referrer=http://www.coherohealth.com/press" class="loadDiv_link">Forbes<span class="pressRightDate"> 09.13.15 </span></a>
          <div>10 Healthcare Technology Disruptors To Watch (All Led By Women)</div>
          <div class="loadDiv_underline"></div>
        </div>

        <div id="div6" class="loadDiv_margin">
          <a target="_blank" class="loadDiv_link" href="http://viewer.zmags.com/publication/8964fa39#/8964fa39/34">Pharma Voice 100 <span class="pressRightDate"> 08.01.15</span></a>
          <div> Dr. Melissa Manice A Breath of Fresh Air</div>
          <div class="loadDiv_underline"></div>
        </div>

        <div id="div7" class="loadDiv_margin">
          <a target="_blank" href="http://www.fiercebiotech.com/medical-devices/fda-clears-first-smart-spirometer-enabling-continuous-tracking-lung-function-via" class="loadDiv_link">Fierce Medical Devices<span class="pressRightDate"> 06.03.15</span></a>
          <div>FDA clears first 'smart' spirometer, enabling continuous tracking of lung function via tablet</div>
          <div class="loadDiv_underline"></div>
        </div>

        <div id="div8" class="loadDiv_margin">
          <a target="_blank" href="http://www.prweb.com/releases/2015/06/prweb12759146.htm" class="loadDiv_link">PR Web<span class="pressRightDate"> 01.02.15</span></a>
          <div>Cohero Health Receives FDA Clearance for Mobile Spirometer</div>
          <div class="loadDiv_underline"></div>
        </div>

        <div id="div9" class="loadDiv_margin">
          <a target="_blank" href="http://www.medgadget.com/2015/06/cohero-healths-wireless-spirometer-fda-cleared-to-help-track-asthma-copd-video.html" class="loadDiv_link">Med Gadget<span class="pressRightDate"> 06.04.15</span></a>
          <div>Cohero Health’s Wireless Spirometer FDA Cleared to Help Track Asthma, COPD </div>
          <div class="loadDiv_underline"></div>
        </div>

        <div id="div10" class="loadDiv_margin">
          <a target="_blank" class="loadDiv_link" href="http://www.mobihealthnews.com/44023/cohero-health-gets-fda-clearance-for-smartphone-connected-spirometer/">mobi health news <span class="pressRightDate"> 06.02.15</span></a>
          <div>Cohero Health gets FDA clearance for smartphone-connected spirometer</div>
          <div class="loadDiv_underline"></div>
        </div>

        <div id="div11" class="loadDiv_margin">
          <a target="_blank" class="loadDiv_link" href="http://hitconsultant.net/2015/06/02/cohero-healths-mobile-spirometer-receives-fda-clearance/">Hit Consultant <span class="pressRightDate"> 06.02.15</span></a>
          <div>Cohero Health’s Mobile Spirometer Receives FDA Clearance</div>
          <div class="loadDiv_underline"></div>
        </div>

        <div id="div12" class="loadDiv_margin">
          <a target="_blank" class="loadDiv_link" href="https://www.wired.com/2015/02/apple-watch-apps/">Wired <span class="pressRightDate"> 02.23.15</span></a>
          <div> How the Apple Watch Will Help You Take Charge of Your Health</div>
          <div class="loadDiv_underline"></div>
        </div>

        <div id="div13" class="loadDiv_margin">
          <a target="_blank" href="http://www.mmm-online.com/the-top-40-healthcare-transformers/printarticle/389697/" class="loadDiv_link">mmm-online <span class="pressRightDate"> 01.04.15</span></a>
          <div>The Top 40 Healthcare Transformers of 2015</div>
          <div class="loadDiv_underline"></div>
        </div>

        <div id="div14" class="loadDiv_margin">
          <a target="_blank" href="https://www.pm360online.com/innovators-2014-companies/?GTTabs=2" class="loadDiv_link">PM 360 Online<span class="pressRightDate"> 12.13.14</span></a>
          <div>Innovators 2014: Companies</div>
          <div class="loadDiv_underline"></div>
        </div>

        <div id="div15" class="loadDiv_margin">
          <a target="_blank" href="http://www.mountsinai.org/about-us/newsroom/press-releases/mount-sinai-begins-pilot-of-respiratory-disease-management-platform" class="loadDiv_link">Mount Sinai<span class="pressRightDate"> 11.13.14</span></a>
          <div>Mount Sinai Begins Pilot of Respiratory Disease Management Platform</div>
          <div class="loadDiv_underline"></div>
        </div>

        <div id="div16" class="loadDiv_margin">
          <a target="_blank" href="http://tech.co/nyc-accelerator-grand-central-tech-announces-inaugural-class-2014-06" class="loadDiv_link">Tech Cocktail<span class="pressRightDate"> 06.16.14</span></a>
          <div>Grand Central Tech Accelerator Begins First Session with Inaugural Class</div>
          <div class="loadDiv_underline"></div>
        </div>

        <div id="div17" class="loadDiv_margin">
          <a target="_blank" class="loadDiv_link" href="https://www.fastcompany.com/3030898/most-creative-people/in-the-capital-of-pricey-real-estate-a-no-rent-no-equity-accelerator-lu">Fast Company <span class="pressRightDate"> 06.11.14</span></a>
          <div>In The Capital of Pricey Real Estate, A No-Rent, No-Equity Accelerator Lures Startups</div>
          <div class="loadDiv_underline"></div>
        </div>

        <div id="div18" class="loadDiv_margin">
          <a target="_blank" href="http://www.disruptivewomen.net/2014/05/02/10-disruptive-women-led-life-science-startups-selected-for-springboard-enterprises-2014-accelerator-class/#sthash.jJ28a9Dm.dpuf" class="loadDiv_link">Disruptive Women<span class="pressRightDate"> 05.02.14</span></a>
          <div>10 Disruptive Women-Led Life Science Startups Selected for Springboard Enterprises’ 2014 Accelerator Class </div>
          <div class="loadDiv_underline"></div>
        </div>

        <div id="div19" class="loadDiv_margin">
          <a target="_blank" href="http://www.theepochtimes.com/n3/322219-smartphone-app-to-aid-asthma-management-in-children/" class="loadDiv_link">The Epoch Times<span class="pressRightDate"> 10.17.13</span></a>
          <div>Smartphone App to Aid Asthma Management in Children</div>
          <div class="loadDiv_underline"></div>
        </div>

        <div id="div20" class="loadDiv_margin last">
          <a target="_blank" href="http://www.crainsnewyork.com/article/20131016/TECHNOLOGY/131019927" class="loadDiv_link">Crain's<span class="pressRightDate"> 10.16.13</span></a>
          <div>14 companies join StartUp Health program </div>
          <div class="loadDiv_underline"></div>
        </div>

        <div style="margin-top:63px;">
          <span id="loadMoreButton" style="cursor: pointer;">Load More</span>
        </div>
      </div>
    </div>
  </div>





<div class="hide-on-med-and-down" style="height:1px; margin-top:149px; background:#B4B4B4;"></div>

<a class="footer_link" id="what_patients_say" ></a>
<div class="container hide-on-med-and-down" style="margin-top:159px;">
  <div class="center row">
    <div class="col s12 left-align">
        <h1 style="line-height:9px;">Hear from our customers.</h1>
        <div >What people using BreatheSmart have to say.</div>
    </div>
  </div>
</div>
<div class="container hide-on-med-and-down" style="margin-top:67px;">
  <div class="center row">
      <div class="col s12 m12 l10">
        <div class="press_quote_box">
          <div class="press_quote_text_box">
            <p style="text-align:left; line-height:36px;">
              I really love the Cohero technology. I am so grateful to be able to track my lung function and track my adherence.
            </p>
          </div>
          <div style="margin-top:-50px;">
            <img src="images/usericon.png" alt="" style="width:56px;" class="left circle">
            <span id="quote_credit" class="left" style="padding:5px;"> - Pennsylvania</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container hide-on-med-and-down" style="margin-top:40px;">
    <div class="center row">
      <div class="col s12 m12 l10">
        <div class="press_quote_box">
          <div class="press_quote_text_box">
            <p style="text-align:left; line-height:36px;";>
              I’m an extremely busy professional and because of that, I sometimes forget to take my control inhaler. Before the BreatheSmart app I had to take my rescue inhaler at least 3-4 times a week. The BreatheSmart app has changed my life! It has consistently reminded me to take my control inhaler twice a day. Now that I’m reminded, I don’t take my rescue inhaler as much and my life has improved dramatically both professionally and personally.
            </p>
          </div>
          <div style="margin-top:60px;">
            <img src="images/usericon.png" alt="" style="width:56px;" class="left circle">
            <span id="quote_credit" class="left" style="padding:5px;">- New York</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container hide-on-med-and-down" style="margin-top:60px;">
    <div class="center row">

      <div class="col s12 m12 l10" style="text-align:left;">
        As a 34-year old mother, I have a hard time making self-care a priority, and have treated my exercise-induced asthma primarily with an emergency inhaler for over 25 years. My doctor has strongly urged me to take my controller inhaler for over a decade, but I’ve always had difficulty adhering to the schedule, and never make it part of my daily routine. The messages I get from the BreatheSmart app come directly to my phone, and the HeroTrackers document my doses, so it’s easy to remember to take my medicine and keep track of the missed doses.<br><br>

        I’ve noticed a dramatic improvement in my breathing health since I started using the app. As a cyclist, I’ve grown accustomed to using my emergency inhaler 4-5 times during an 4-hour endurance ride. In the first 6 weeks using the BreatheSmart app, I virtually stopped using my emergency inhaler during the week, and often only once during heavy exercise. Seeing the the connection between my success with scheduled doses, the decrease in emergency doses, and comparing that to fitness data from my improved exercise routine has really helped me to take control of my asthma.<br><br>

        Using the BreatheSmart app and HeroTracker hardware has finally put me in control of my asthma. I was diagnosed with exercise-induced asthma almost 30 years ago, and because my symptoms aren't life-threatening, it's easy to be lazy about treatment. This meant overusing my emergency inhaler, decreasing its effectiveness. My doctors have been encouraging me to take Symbicort twice daily for over a decade, but I could never develop a routine to take it regularly. In the past 6 months I've been using the app, my breathing has improved dramatically. I'm able to exercise longer and with greater intensity, and I rarely need to use my rescue inhaler anymore. It's changed my health for the better!
      </div>
      <div class="col s12 m8 l8">
        <div class="press_quote_box">
          <div style="margin-top:35px;">
            <img src="images/usericon.png" alt="" style="width:56px;" class="left circle">
            <span id="quote_credit" class="left" style="padding:5px;">- Texas</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="height:1px; margin-top:149px; background:#B4B4B4;" class="hide-on-med-and-down"></div>

  <a class="footer_link" id="press_releases" ></a>
    <div class="hide-on-med-and-down" style="margin-top:206px;" >
      <div class="center row">
        <div class="col s12">
          <div class="col s2">
          </div>
          <div class="col s10">
            <h1 class="left-align">Learn what's new at Cohero.</h1>
            <div class="left-align" style="margin-top:-20px;">
              Take a look at our latest press releases.
            </div>
          </div>
        </div>
        <div class="col s12" style="margin-top:50px;">
          <%- include ../patient/pressReleases/pressReleases %>
        </div>
      </div>
    </div>

    <!-- MOBILE -->
    <div style="margin-top:150px" class="hide-on-large-only"></div>
    <div class="container hide-on-large-only">
      <div class="center row">
        <div class="col s12">
          <div class="col s2">
          </div>
          <div class="col s8">
            <h1>Learn what's new at Cohero.</h1>
            <div style="margin-top:-15px;" align="center">
              <div style="max-width:350px;">
                Take a look at our latest press releases.
              </div>
            </div>
          </div>
          <div class="col s2">
          </div>
          <div class="col s12" style="margin-top:-60px;">
            <div class="carousel press_release_mobile">
              <a class="carousel-item" target="_blank" href="http://www.prweb.com/releases/2016/12/prweb13897601.htm" >
                <div class="tile_mobile" style="background-color:#63A9EE;postion:relative; ">
                  <div class="tile_title_mobile">
                    H&T Presspart and Cohero Health Launch First Fully-Connected Metered Dose Inhaler.
                  </div>
                  <div class="tile_sub_text_mobile">DECEMBER 8, 2016</div>
                </div>
              </a>
              <a class="carousel-item" target="_blank" href="http://www.prweb.com/releases/2016/11/prweb13815254.htm" >
                <div class="tile_mobile" style="background-color:#C99FE1;postion:relative; ">
                  <div class="tile_title_mobile">
                    Cohero Health Closes Series A Funding.
                  </div>
                  <div class="tile_sub_text_mobile">NOVEMBER 2, 2016</div>
                </div>
              </a>
              <a class="carousel-item" target="_blank" href="http://www.prweb.com/releases/2016/10/prweb13732751.htm" >
                <div class="tile_mobile" style="background-color:#63A9EE;postion:relative; ">
                  <div class="tile_title_mobile">
                    ImagineCare and Cohero Health Merge Digital Technologies for COPD Management.
                  </div>
                  <div class="tile_sub_text_mobile">OCTOBER 4, 2016</div>
                </div>
              </a>
              <a class="carousel-item" target="_blank" href="https://static1.squarespace.com/static/53a99924e4b04062ff8473f1/t/5702c3695559868c7500d293/1459798889198/CoheroHealthPressRelease040416.pdf" >
                <div class="tile_mobile" style="background-color:#1FD9C7;postion:relative; ">
                  <div class="tile_title_mobile">
                    Cohero Announces Connected Metered Dose Inhaler.
                  </div>
                  <div class="tile_sub_text_mobile">APRIL 4, 2016</div>
                </div>
              </a>
              <a class="carousel-item" target="_blank" href="https://static1.squarespace.com/static/53a99924e4b04062ff8473f1/t/56e85c6dd210b84f5e9f80b7/1458068596069/Cohero+Health+press+release+3%3A15%3A16.pdf" >
                <div class="tile_mobile" style="background-color:#C99FE1;postion:relative; ">
                  <div class="tile_title_mobile">
                    Cohero Health Wins Pediatric Health Startup Pitch.
                  </div>
                  <div class="tile_sub_text_mobile">MARCH 15, 2016</div>
                </div>
              </a>
              <a class="carousel-item" target="_blank" href="https://static1.squarespace.com/static/53a99924e4b04062ff8473f1/t/568e9c44df40f3bb4e88724e/1452186692673/Cohero+Health+ProCare+Rx_Press+Release+010716_CHLH_.pdf" >
                <div class="tile_mobile" style="background-color:#63A9EE;postion:relative; ">
                  <div class="tile_title_mobile">
                    Cohero Health and ProCare Rx Announce Partnership.
                  </div>
                  <div class="tile_sub_text_mobile">JANUARY 7, 2016</div>
                </div>
              </a>

              <a class="carousel-item" target="_blank" href="https://static1.squarespace.com/static/53a99924e4b04062ff8473f1/t/568e99dbbfe873336d84041b/1452186075171/Cohero+Health+Seed+Round+Press+Release+12.15.15_CHLH.pdf" >
                <div class="tile_mobile" style="background-color:#1FD9C7;postion:relative; ">
                  <div class="tile_title_mobile">
                    Cohero Health Secures $2M Seed Investment.
                  </div>
                  <div class="tile_sub_text_mobile">DECEMBER 22, 2015</div>
                </div>
              </a>
            </div>
           </div>
        </div>
      </div>
    </div>
    <br><br><br><br>


    <a class="footer_link" id="press_try_our_products" ></a>
    <%- include ../globalPartials/bottom_of_body %>
    <div style="margin-top:-145px;" class="hide-on-med-and-down">
      <%- include ../globalPartials/link_to_screener.ejs %>
    </div>
    <script type="text/javascript" src="js/form.js"></script>
    <%- include ../globalPartials/footer %>
</body>
</html>
