<!DOCTYPE html>
<html lang="en">
<%- include ../globalPartials/head %>
<body>
  <%- include ../patient/generalPatientPartials/nav %>
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1 class="left-align">In the news.</h1>
        <div class="left-align" style="margin-top:-25px;">Take a look at what others are saying about us.</div>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col s3">
        <div class="left-align" style="color:#1FD9C7">Featured</div>
      </div>
      <div class="col s9">
        <div id="div1" class="first current">
          <div class="left-align" style="color:#004DA8">Tech Crunch</div>
          <div class="left-align"> Cohero Health Aims To Improve Patient Care For The 26 Million American Asthma Sufferers</div>
          <div class="grey lighten-2" style="width:100%; margin-top:10px; height:1px;"></div><br><br>
        </div>

        <div id="div2">
          <div class="left-align" style="color:#004DA8">Wired</div>
          <div class="left-align"> How the Apple Watch Will Help You Take Charge of Your Health</div>
          <div class="grey lighten-2" style="width:100%; margin-top:10px; height:1px;"></div><br><br>
        </div>

        <div id="div3" class="last">
          <div class="left-align" style="color:#004DA8">Google</div>
          <div class="left-align"> Cohero Health Aims To Improve Patient Care For The 26 Million American Asthma Sufferers</div>
          <div class="grey lighten-2" style="width:100%; margin-top:10px; height:1px;"></div><br><br>
        </div>

        <div id="div4">
          <div class="left-align" style="color:#004DA8">Fast Company</div>
          <div class="left-align">How the Apple Watch Will Help You Take Charge of Your Health</div>
          <div class="grey lighten-2" style="width:100%; margin-top:10px; height:1px;"></div><br><br>
        </div>

        <div id="div5">
          <div class="left-align" style="color:#004DA8">Tech Crunch</div>
          <div class="left-align">Cohero Health Aims To Improve Patient Care For The 26 Million American Asthma Sufferers at any time.</div>
          <div class="grey lighten-2" style="width:100%; margin-top:10px; height:1px;"></div><br><br>
        </div>

        <div id="div6" class="bottom">
          <div class="left-align" style="color:#004DA8">News</div>
          <div class="left-align">How the Apple Watch Will Help You Take Charge of Your Health</div>
          <div class="grey lighten-2" style="width:100%; margin-top:10px; height:1px;"></div><br><br>
        </div>

        <div id="div7" class="bottom">
          <div class="left-align" style="color:#004DA8">2nd to last</div>
          <div class="left-align">Second to last</div>
          <div class="grey lighten-2" style="width:100%; margin-top:10px; height:1px;"></div><br><br>
        </div>
        <div id="div8">
          <div class="left-align" style="color:#004DA8">Last</div>
          <div class="left-align">This is the last</div>
          <div class="grey lighten-2" style="width:100%; margin-top:10px; height:1px;"></div><br><br>
        </div>
        <a id="loadMoreButton" class="btn">Load More</a>

      </div>
    </div>

  </div>
<br><br><br><br>
  <div class="container">
    <div class="center row">
      <div  class="col s12 center">
      </div>
    </div>
  </div><br><br><br><br>
<div class="grey lighten-2" style="width:100%; height:2px;"></div>

<br><br><br>
<div class="container">
  <div class="center row">
    <div class="col s12">
      <div class="col s2">
      </div>
      <div class="col s8">
        <h1 >From patients.</h1>
      </div>
      <div class="col s2">
      </div>
    </div>
    <div class="col s12">
      <div id="outer" style="width:100%; margin-top:-20px;">
        <div id="inner">
          What Cohero users have to say.
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="center row">
      <div class="col s12 m4">
        <div class="press_quote_box">
          <div class="press_quote_text_box">
            <p style="text-align:left; color:#75787B";>
              “This is simply unbelievable!  I will recommend you to my colleagues.  Needless to say we are extremly satisfied with the results.”
            </p>
          </div>
          <img src="images/usericon.png" alt="" style="width:56px;" class="left circle">
          <span id="quote_credit" class="left" style="padding:5px;"> - JonTron Show</span>
        </div>
        <br><br><br><br>
        <div class="press_quote_box">
          <div class="press_quote_text_box">
            <p style="text-align:left; color:#75787B";>
              “Cohero Health has completely surpassed our expectations. I just can’t get enough of Frames UI Kit. I want to get a T-Shirt si I can show it to everyone.”
            </p>
          </div>
          <img src="images/usericon.png" alt="" style="width:56px;" class="left circle">
          <span id="quote_credit" class="left" style="padding:5px;"> - Dio Brando</span>
        </div>
        <br><br><br><br>
      </div>
      <div class="col s12 m4">
        <div class="press_quote_box">
          <div class="press_quote_text_box">
            <p style="text-align:left; color:#75787B";>
              “This is simply unbelievable!  I will recommend you to my colleagues.  Needless to say we are extremly satisfied with the results.”
            </p>
          </div>
          <img src="images/usericon.png" alt="" style="width:56px;" class="left circle">
          <span id="quote_credit" class="left" style="padding:5px;"> - JonTron Show</span>
        </div>
        <br><br><br><br>
        <div class="press_quote_box">
          <div class="press_quote_text_box">
            <p style="text-align:left; color:#75787B";>
              “Cohero Health has completely surpassed our expectations. I just can’t get enough of Frames UI Kit. I want to get a T-Shirt si I can show it to everyone.”
            </p>
          </div>
          <img src="images/usericon.png" alt="" style="width:56px;" class="left circle">
          <span id="quote_credit" class="left" style="padding:5px;"> - Dio Brando</span>
        </div>
        <br><br><br><br>
      </div>
      <div class="col s12 m4">
        <div class="press_quote_box">
          <div class="press_quote_text_box">
            <p style="text-align:left; color:#75787B";>
              “This is simply unbelievable!  I will recommend you to my colleagues.  Needless to say we are extremly satisfied with the results.”
            </p>
          </div>
          <img src="images/usericon.png" alt="" style="width:56px;" class="left circle">
          <span id="quote_credit" class="left" style="padding:5px;"> - JonTron Show</span>
        </div>
        <br><br><br><br>
        <div class="press_quote_box">
          <div class="press_quote_text_box">
            <p style="text-align:left; color:#75787B";>
              “Cohero Health has completely surpassed our expectations. I just can’t get enough of Frames UI Kit. I want to get a T-Shirt si I can show it to everyone.”
            </p>
          </div>
          <img src="images/usericon.png" alt="" style="width:56px;" class="left circle">
          <span id="quote_credit" class="left" style="padding:5px;"> - Dio Brando</span>
        </div>
        <br><br><br>
      </div>
  </div>
</div>
  <br><br><br>

  <div class="grey lighten-2" style="width:100%; height:2px;"></div>
  <br><br><br>
      <div class="container">
        <div class="center row">
          <div class="col s12">
              <div class="col s1">
              </div>
              <div class="col s10">
                <h1 class="left-align">Press releases.</h1>
                <div class="left-align">
                  Read our latest and past press releases to learn about what’s new at Cohero Health.
                </div>
              </div>
              <div class="col s1">
              </div>
              <br><br><br><br><br><br>
              <%- include ../patient/pressReleases/pressReleases %>
            </div>
          </div>
        </div>

    <br><br><br><br><br>
    <div class="grey lighten-2" style="width:100%; height:2px;"></div>
    <br><br><br><br>

    <div class="container">
      <div class="center row">
        <div class="col s12">
          <div class="col s2">
          </div>
          <div class="col s8">
            <h1>Press releases mobile option.</h1>
          </div>
          <div class="col s2">
          </div>
          <div class="col s12" style="margin-top:-60px;">
            <div class="carousel press_release_mobile">
              <a class="carousel-item" href="#one!"><img src="images/tempRectangle.png">Most Recent</a>
              <a class="carousel-item" href="#two!"><img  src="images/tempRectangle.png">2nd Most Recent</a>
              <a class="carousel-item" href="#three!"><img src="images/tempRectangle.png">3rd Most Recent</a>
              <a class="carousel-item" href="#four!"><img src="images/tempRectangle.png"> 2nd To Last</a>
              <a class="carousel-item" href="#five!"><img src="images/tempRectangle.png">Last</a>
            </div>
           </div>
        </div>
      </div>
    </div>
    <br><br><br>










  <%- include ../globalPartials/footer %>
  <%- include ../globalPartials/bottom_of_body %>
</body>
</html>
