<!DOCTYPE html>
<html lang="en">
<%- include ../globalPartials/head %>
<body>
  <%- include ../patient/generalPatientPartials/nav %>
  <br><br><br>
  <div class="container">
    <div class="center row">
      <div class="col s12">
        <div class="col s2">
        </div>
        <div class="col s8">
          <h1 >In the news.</h1>
          <br><br><br>
        </div>
        <div class="col s2">
        </div>
      </div><br>
    </div>
  </div>
<br><br><br><br>
  <div class="container">
    <div class="center row">
      <div  class="col s12 center">
      </div>
    </div>
  </div><br><br><br><br>
<div class="grey lighten-2" style="width:100%; height:2px;"></div>

<br><br><br>
<div class="container">
  <div class="center row">
    <div class="col s12">
      <div class="col s2">
      </div>
      <div class="col s8">
        <h1 >From patients.</h1>
      </div>
      <div class="col s2">
      </div>
    </div>
    <div class="col s12">
      <div id="outer" style="width:100%; margin-top:-20px;">
        <div id="inner">
          What Cohero users have to say.
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="center row">
      <div class="col s12 m4">
        <div class="press_quote_box">
          <div class="press_quote_text_box">
            <p style="text-align:left; color:#75787B";>
              “This is simply unbelievable!  I will recommend you to my colleagues.  Needless to say we are extremly satisfied with the results.”
            </p>
          </div>
          <img src="images/usericon.png" alt="" style="width:56px;" class="left circle">
          <span id="quote_credit" class="left" style="padding:5px;"> - JonTron Show</span>
        </div>
        <br><br><br><br>
        <div class="press_quote_box">
          <div class="press_quote_text_box">
            <p style="text-align:left; color:#75787B";>
              “Cohero Health has completely surpassed our expectations. I just can’t get enough of Frames UI Kit. I want to get a T-Shirt si I can show it to everyone.”
            </p>
          </div>
          <img src="images/usericon.png" alt="" style="width:56px;" class="left circle">
          <span id="quote_credit" class="left" style="padding:5px;"> - Dio Brando</span>
        </div>
        <br><br><br><br>
      </div>
      <div class="col s12 m4">
        <div class="press_quote_box">
          <div class="press_quote_text_box">
            <p style="text-align:left; color:#75787B";>
              “This is simply unbelievable!  I will recommend you to my colleagues.  Needless to say we are extremly satisfied with the results.”
            </p>
          </div>
          <img src="images/usericon.png" alt="" style="width:56px;" class="left circle">
          <span id="quote_credit" class="left" style="padding:5px;"> - JonTron Show</span>
        </div>
        <br><br><br><br>
        <div class="press_quote_box">
          <div class="press_quote_text_box">
            <p style="text-align:left; color:#75787B";>
              “Cohero Health has completely surpassed our expectations. I just can’t get enough of Frames UI Kit. I want to get a T-Shirt si I can show it to everyone.”
            </p>
          </div>
          <img src="images/usericon.png" alt="" style="width:56px;" class="left circle">
          <span id="quote_credit" class="left" style="padding:5px;"> - Dio Brando</span>
        </div>
        <br><br><br><br>
      </div>
      <div class="col s12 m4">
        <div class="press_quote_box">
          <div class="press_quote_text_box">
            <p style="text-align:left; color:#75787B";>
              “This is simply unbelievable!  I will recommend you to my colleagues.  Needless to say we are extremly satisfied with the results.”
            </p>
          </div>
          <img src="images/usericon.png" alt="" style="width:56px;" class="left circle">
          <span id="quote_credit" class="left" style="padding:5px;"> - JonTron Show</span>
        </div>
        <br><br><br><br>
        <div class="press_quote_box">
          <div class="press_quote_text_box">
            <p style="text-align:left; color:#75787B";>
              “Cohero Health has completely surpassed our expectations. I just can’t get enough of Frames UI Kit. I want to get a T-Shirt si I can show it to everyone.”
            </p>
          </div>
          <img src="images/usericon.png" alt="" style="width:56px;" class="left circle">
          <span id="quote_credit" class="left" style="padding:5px;"> - Dio Brando</span>
        </div>
        <br><br><br>
      </div>
  </div>
</div>
  <br><br><br>

  <div class="grey lighten-2" style="width:100%; height:2px;"></div>
  <br><br><br>

  <div id="outer_press_release">
    <div id="inner_press_release_arrow_left">
      <img id="press_release_arrow_left" src="images/arrowLeftPress.png" alt="">
    </div>
    <div id="inner_press_release_arrow_right">
      <img id="press_release_arrow_right" src="images/arrowLeftPress.png" alt="">
    </div>
      <div class="container">
        <div class="center row">
          <div class="col s12">
              <div class="col s2">
              </div>
              <div class="col s8">
                <h1>Press releases.</h1>
              </div>
              <div class="col s2">
              </div>
              <br><br><br><br><br><br>
              <%- include ../patient/pressReleases/pressReleases %>


            </div>
          </div>
        </div>
    </div>
    <br><br><br><br><br>
    <div class="grey lighten-2" style="width:100%; height:2px;"></div>
    <br><br><br><br>

    <div class="container">
      <div class="center row">
        <div class="col s12">
          <div class="col s2">
          </div>
          <div class="col s8">
            <h1>Press releases mobile option.</h1>
          </div>
          <div class="col s2">
          </div>
          <div class="col s12" style="margin-top:-60px;">
            <div class="carousel">
              <a class="carousel-item" href="#one!"><img src="images/tempRectangle.png">Most Recent</a>
              <a class="carousel-item" href="#two!"><img  src="images/tempRectangle.png">2nd Most Recent</a>
              <a class="carousel-item" href="#three!"><img src="images/tempRectangle.png">3rd Most Recent</a>
              <a class="carousel-item" href="#four!"><img src="images/tempRectangle.png"> 2nd To Last</a>
              <a class="carousel-item" href="#five!"><img src="images/tempRectangle.png">Last</a>
            </div>
           </div>
        </div>
      </div>
    </div>

    <div class="grey lighten-2" style="width:100%; height:2px;"></div>
    <br><br><br>










  <%- include ../globalPartials/footer %>
  <%- include ../globalPartials/bottom_of_body %>
</body>
</html>
